Repository ladybug-tools/ladybug-geometry, pull requests merged in 2019-10, with the labels that each got.

#58 Updated polygon class with static method to perform intersection analysis on adjacent 2D polygons. Updated unit tests as well
  ladybug_geometry/geometry2d/polygon.py
  tests/polygon2d_test.py
Labels: geometry, hacktoberfest, ladybug, new development

#60 Docstring fixes
  docs/conf.py
  ladybug_geometry/_mesh.py
  ladybug_geometry/geometry2d/_1d.py
  ladybug_geometry/geometry2d/_2d.py
  ladybug_geometry/geometry2d/arc.py
  ladybug_geometry/geometry2d/line.py
  ladybug_geometry/geometry2d/mesh.py
  ladybug_geometry/geometry2d/pointvector.py
  ladybug_geometry/geometry2d/polygon.py
  ladybug_geometry/geometry2d/ray.py
  ladybug_geometry/geometry3d/_1d.py
  ladybug_geometry/geometry3d/_2d.py
  ladybug_geometry/geometry3d/arc.py
  ladybug_geometry/geometry3d/face.py
  ladybug_geometry/geometry3d/line.py
  ladybug_geometry/geometry3d/mesh.py
  ladybug_geometry/geometry3d/plane.py
  ladybug_geometry/geometry3d/pointvector.py
  ladybug_geometry/geometry3d/polyface.py
  ladybug_geometry/geometry3d/ray.py
Labels: geometry, ladybug

#63 fix(intersect): Fix intersection method between Polygon2D
  ladybug_geometry/geometry2d/polygon.py
  tests/__init__.py
  tests/polygon2d_test.py
Labels: bug, critical, geometry, ladybug

#64 fix(travis): update version of node to 12
  .travis.yml
Labels: bug, critical, geometry, ladybug

#65 fix(face): Fix automatic normal calculation in Face3D
  ladybug_geometry/geometry2d/_2d.py
  ladybug_geometry/geometry2d/pointvector.py
  ladybug_geometry/geometry3d/_2d.py
  ladybug_geometry/geometry3d/face.py
  ladybug_geometry/geometry3d/line.py
  ladybug_geometry/geometry3d/pointvector.py
  tests/face3d_test.py
Labels: bug, critical, geometry, ladybug

#67 fix(face3d): Fix bug in is_centered_adjacent
  ladybug_geometry/geometry2d/polygon.py
  ladybug_geometry/geometry3d/face.py
  ladybug_geometry/geometry3d/polyface.py
  tests/polyface3d_test.py
  tests/polygon2d_test.py
Labels: bug, critical, geometry, ladybug

#68 fix(face): Fixed bug in Face3D plane normal
  ladybug_geometry/geometry2d/pointvector.py
  ladybug_geometry/geometry2d/polygon.py
  ladybug_geometry/geometry3d/face.py
  ladybug_geometry/geometry3d/pointvector.py
  ladybug_geometry/geometry3d/polyface.py
  tests/face3d_test.py
  tests/pointvector2d_test.py
  tests/pointvector3d_test.py
  tests/polyface3d_test.py
Labels: bug, critical, geometry, ladybug

#69 fix(poltface): Fix tolerance issue within the Polyface3D class
  ladybug_geometry/geometry3d/polyface.py
Labels: bug, critical, geometry, ladybug
