Repository ladybug-tools/ladybug-geometry, pull requests merged in 2019-11, with the labels that each got.

#70 fix(face): Implement most beautiful solution for tolerance issue
  ladybug_geometry/geometry3d/face.py
  ladybug_geometry/geometry3d/polyface.py
  tests/face3d_test.py
  tests/polyface3d_test.py
Labels: bug, critical, enhancement, geometry, ladybug

#71 fix(line): Fix bug in LineSegment.subdivide_evenly method
  ladybug_geometry/geometry2d/line.py
  ladybug_geometry/geometry3d/line.py
  tests/line3d_test.py
Labels: bug, critical, geometry, ladybug

#72 fix(line): Implement more elegant solution to previous fix
  ladybug_geometry/geometry2d/line.py
  ladybug_geometry/geometry3d/line.py
Labels: enhancement, geometry, ladybug

#74 fix(face): Fix several bugs in Face3D contour methods
  ladybug_geometry/geometry3d/face.py
  tests/face3d_test.py
Labels: bug, critical, geometry, ladybug

#76 fix(polyface): Small Bug Fix to from_faces method with holed Faces
  ladybug_geometry/geometry3d/polyface.py
Labels: bug, critical, geometry, ladybug

#75 Adding Sphere object
  ladybug_geometry/geometry3d/pointvector.py
  ladybug_geometry/geometry3d/sphere.py
  ladybug_geometry/intersection3d.py
  tests/sphere3d_test.py
Labels: done, geometry, ladybug

#78 Change to_dict and from_dict methods using Point arrays to use a to_array and from_array method on the Point classes #77
  ladybug_geometry/geometry2d/_1d.py
  ladybug_geometry/geometry2d/_2d.py
  ladybug_geometry/geometry2d/arc.py
  ladybug_geometry/geometry2d/mesh.py
  ladybug_geometry/geometry2d/pointvector.py
  ladybug_geometry/geometry2d/polygon.py
  ladybug_geometry/geometry3d/_1d.py
  ladybug_geometry/geometry3d/_2d.py
  ladybug_geometry/geometry3d/face.py
  ladybug_geometry/geometry3d/mesh.py
  ladybug_geometry/geometry3d/plane.py
  ladybug_geometry/geometry3d/pointvector.py
  ladybug_geometry/geometry3d/polyface.py
Labels: enhancement, geometry, ladybug
