Repository ladybug-tools/ladybug-geometry, pull requests merged in 2020-02, with the labels that each got.

#84 Add Cylinder3D
  ladybug_geometry/geometry3d/cone.py
  ladybug_geometry/geometry3d/cylinder.py
  ladybug_geometry/geometry3d/sphere.py
  ladybug_geometry/intersection3d.py
  tests/cone_test.py
  tests/cylinder_test.py
  tests/sphere_test.py
Labels: geometry, ladybug

#91 Lbt core update
  .coveragerc
  .gitignore
  dev-requirements.txt
  ladybug_geometry/geometry2d/line.py
  ladybug_geometry/geometry2d/pointvector.py
  ladybug_geometry/geometry2d/polygon.py
  ladybug_geometry/geometry3d/line.py
  ladybug_geometry/intersection2d.py
Labels: geometry, ladybug

#93 feat(polyline): Add class for Polyline2D
  ladybug_geometry/_mesh.py
  ladybug_geometry/geometry2d/_1d.py
  ladybug_geometry/geometry2d/_2d.py
  ladybug_geometry/geometry2d/line.py
  ladybug_geometry/geometry2d/mesh.py
  ladybug_geometry/geometry2d/pointvector.py
  ladybug_geometry/geometry2d/polygon.py
  ladybug_geometry/geometry2d/polyline.py
  ladybug_geometry/geometry2d/ray.py
  ladybug_geometry/geometry3d/_1d.py
  ladybug_geometry/geometry3d/_2d.py
  ladybug_geometry/geometry3d/arc.py
  ladybug_geometry/geometry3d/cone.py
  ladybug_geometry/geometry3d/cylinder.py
  ladybug_geometry/geometry3d/face.py
  ladybug_geometry/geometry3d/line.py
  ladybug_geometry/geometry3d/mesh.py
  ladybug_geometry/geometry3d/plane.py
  ladybug_geometry/geometry3d/pointvector.py
  ladybug_geometry/geometry3d/polyface.py
  ladybug_geometry/geometry3d/ray.py
  ladybug_geometry/geometry3d/sphere.py
  tests/polygon2d_test.py
  tests/polyline2d_test.py
Labels: geometry, ladybug, new development

#94 feat(polyline3d): Add module and class for Polyline3D
  ladybug_geometry/_polyline.py
  ladybug_geometry/geometry2d/arc.py
  ladybug_geometry/geometry2d/polyline.py
  ladybug_geometry/geometry3d/_1d.py
  ladybug_geometry/geometry3d/arc.py
  ladybug_geometry/geometry3d/line.py
  ladybug_geometry/geometry3d/plane.py
  ladybug_geometry/geometry3d/polyline.py
  tests/arc3d_test.py
  tests/line3d_test.py
  tests/plane_test.py
  tests/polyline3d_test.py
Labels: geometry, ladybug, new development

#95 fix(point): Correction to Point __add__ and __sub__ operators
  ladybug_geometry/geometry2d/mesh.py
  ladybug_geometry/geometry2d/pointvector.py
  ladybug_geometry/geometry3d/face.py
  ladybug_geometry/geometry3d/pointvector.py
Labels: bug, geometry, ladybug
