Repository ladybug-tools/ladybug-geometry, pull requests merged in 2020-03, with the labels that each got.

#96 feature(offset): New offset method for polygon2d
  .gitignore
  ladybug_geometry/geometry2d/_2d.py
  ladybug_geometry/geometry2d/line.py
  ladybug_geometry/geometry2d/pointvector.py
  ladybug_geometry/geometry2d/polygon.py
  tests/line2d_test.py
  tests/polygon2d_test.py
Labels: enhancement

#97 feat(from_array): Add from_array methods to more objects
  ladybug_geometry/geometry2d/line.py
  ladybug_geometry/geometry2d/polygon.py
  ladybug_geometry/geometry2d/polyline.py
  ladybug_geometry/geometry2d/ray.py
  ladybug_geometry/geometry3d/line.py
  ladybug_geometry/geometry3d/polyline.py
  ladybug_geometry/geometry3d/ray.py
  tests/line2d_test.py
  tests/line3d_test.py
  tests/polyline2d_test.py
  tests/polyline3d_test.py
  tests/ray2d_test.py
  tests/ray3d_test.py
Labels: enhancement, geometry, ladybug

#98 feat(polyline): Add classmethods to go to/from polygon
  ladybug_geometry/geometry2d/polyline.py
  ladybug_geometry/geometry3d/polyline.py
  tests/polyline2d_test.py
  tests/polyline3d_test.py
Labels: enhancement, geometry, ladybug

#99 fix(polyline): Fix minor bug in Polyline edge case
  ladybug_geometry/_polyline.py
Labels: bug

#101 feat(arc): Add to_polyline methods to the Arc classes
  ladybug_geometry/geometry2d/arc.py
  ladybug_geometry/geometry3d/arc.py
  tests/arc2d_test.py
  tests/arc3d_test.py
Labels: enhancement, geometry, ladybug

#102 fix(arc): Fix tolerance issue in Arc.subdivide_evenly
  ladybug_geometry/geometry2d/arc.py
  ladybug_geometry/geometry2d/line.py
  ladybug_geometry/geometry3d/line.py
  tests/arc3d_test.py
Labels: bug
